body {
    background: linear-gradient(to right, #1bac91 50%, #3c9dd1 50%);
    color: white;
    text-align: center;
}

.btn:hover {
    color: #1BAC91;
}

.btn {
    width: 15%;
    height: 45px;
    color: white;
    border: none;
    border-radius: 0;
    background-color: #333333;
}

.citySections {
    font-size: 20px;
    /* text-decoration: underline; */
}

#dropdownMenuButton {
    min-width: 175px;
    height: 40px;
    margin: 5px 0;
}

.dropdown-menu {
    overflow: auto;
    max-height: 300px;
    background-color: #333333;
    color: white;
}

.favorite {
    background: none;
    border: none;
    color: white;
    height: 36px;
}

.favorite:hover {
    border: 1px solid black;
    color: #333333;
    border-radius: 5px;
}

.favorite:focus {
    background-color: tomato;
    border: 1px solid black;
    border-radius: 5px;
}

.fa.fa-star {
    font-size: 25px;
}

.fa.fa-star:hover {
    -webkit-animation-name: star;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 999999999;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: .5s;
}

@-webkit-keyframes star {
    0% {}
    25% {
        transform: rotate(7deg);
    }
    50% {
    }
    75% {
        transform: rotate(-7deg);
    }
    100% {}
}

form {
    text-align: left;
}

h2 {
    text-align: center;
    margin-top: 10px;
}

.hoverText {
    margin: 0 auto;
    display: none;
}

hr {
    background-color: white;
    height: 3px;
    border-radius: 15px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

input {
    width: 100%;
    height: 40px;
    border: 1px solid black;
    background-color: #333333;
    color: white;
    padding: 2px 5px 2px 5px;
}

.imgContainer {
    width: 100%;
    text-align: center;
}

.logo {
    width: 75px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.locationImg {
    width: 80%;
    border-radius: 7px;
    margin: 5px;
    max-width: 550px;
}

.locationContainer {
    height: 700px;
    overflow: hidden;
}

.localImg {
    width: 60%;  
    max-height: 225px;  
}

#mainMessage {
    margin-top: 10px;
    margin-bottom: 10px;
}

.message {
    width: 100%;
    text-align: center;
}

.nav {
    color: white;
    background-color: #333333;
}

.navButtons {
    width: 100%;
    background-color: #333333;
    margin-bottom: 10px;
    margin: auto;
}

#submitForm:hover {
    color: #333333;
    background-color: white;
    border: 1px solid black;
}

#submitForm {
    width: 100%;
    height: 40px;
    background-color: #333333;
    border: 1px solid black;
    color: white;
}

#requestDivider {
    background-color: black;
    height: 1px;
}

#requestTitle {
    font-size: 20px;
}

.website {
    color: white;
}

.website:hover {
    color: #333333;
}